:root {
  --mainBlue: #262a53;
  --lightBlue: #448ef6;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #fdb44b;
}

body {
  font-family: "Comfortaa", cursive !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

footer {
  color: var(--mainWhite);
  background-color: var(--mainBlue);
  font-family: monospace;
  font-size: 0.75rem;
  text-align: center;
  padding: 10px;
  position: static;
  left: 0;
  bottom: 0;
  right: 0;
}

footer a {
  color: var(--lightBlue);
  text-decoration: none;
  transition: all 150ms ease;
}

footer a:hover {
  color: var(--mainYellow);
}

.text-title {
  font-family: "Righteous", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border-color: 0.1rem var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
